<form id='submit-registration' method='post' action='/users'>
  Username: <input type="text" name="user[username]">
  Email: <input type="text" name="user[email]">
  Choose Password: <input type="password" name="user[password]"> <br>
  <input type="submit" value="Register">
</form>
